* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 110vh;
    background: linear-gradient(
        #9fc0cf,
        #e5edf1
    );
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.container nav {
    width: 100px;
    height: 100%;
    padding: 16px;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    background: rgba(230, 235, 240, .7);
    border: 2px solid rgba(230, 235, 240, .7);
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    transition: .6s cubic-bezier(.8, .5, .5, .8);
}

nav.expanded {
    width: 320px;
}

nav .brand {
    width: 100%;
    display: flex;
    align-items: center;
}

nav .brand img {
    width: 65px;
    border-radius: 50%;
    border: 4px solid rgba(230, 235, 240, .8);
    cursor: pointer;
}

nav .brand img:hover{
    /* transform: translateY(10px); */
    transform: scale(1.1);
}

nav .brand p {
    color: #505257;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    margin: 0 0 0 12px;
}

nav .brand p span {
    color: #3c3e43;
    display: block;
    font-size: 26px;
    font-style: normal;
}

nav .line {
    width: 100%;
    height: 2px;
    margin: 32px 0;
    border-radius: 30%;
    background: #87a3af;
}

nav .list {
    width: 100%;
}

nav .list li {
    display: flex;
    margin: 12px 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

nav .list li:hover {
    background: rgba(230, 235, 240, .4);
}

nav .list li.active {
    background: #3681f6;
}

nav .list li.active span {
    color: #fff;
}

button{
    background: #e6ebf0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

button i{
    color: #3681f6;
    font-size: 20px;
    
}

.menu-button {
    transition: transform .4s ease;
}

.menu-button.open {
    transform: rotate(180deg);
}


nav .list li.active i {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    color: #e6ebf0;
}

nav .list i {
    font-size: 20px;
    background: linear-gradient(
        -135deg,
        #3c3e43,
        #838487
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .list span {
    color: #505257;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 12px;
}

nav .brand p,
nav .list span {
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        pointer-events: unset;
        transform: translateX(0);
    }
}

nav.expanded .brand p {
    animation: fadeIn .4s ease-out forwards;
    animation-delay: .4s;
}

nav.expanded .list span {
    animation: fadeIn .4s ease-out forwards;
}

nav.expanded .list li:nth-child(1) span {
    animation-delay: .5s;
}

nav.expanded .list li:nth-child(2) span {
    animation-delay: .6s;
}

nav.expanded .list li:nth-child(3) span {
    animation-delay: .7s;
}

nav.expanded .list li:nth-child(4) span {
    animation-delay: .8s;
}

nav.expanded .list li:nth-child(5) span {
    animation-delay: .9s;
}

nav.expanded .list li:nth-child(7) span {
    animation-delay: 1s;
}